<tr>
    <td class="{{lineClass}} {{CSSLineClass.INFO}}"></td>
    <td class="{{CSSLineClass.INFO}}"{{#bothSides}} colspan=3 {{/bothSides}}>
        <div class="{{contentClass}}{{#wrapWord}} d2h-wrap-word {{/wrapWord}}">{{#blockHeader}}{{{blockHeader}}}{{/blockHeader}}{{^blockHeader}}&nbsp;{{/blockHeader}}</div>
    </td>
</tr>
