<tr>
    <td class="{{lineClass}} {{CSSLineClass.INFO}}"></td>
    <td class="{{CSSLineClass.INFO}}" style="width: 50%">
        <div class="{{contentClass}}">{{#blockHeader}}{{{blockHeader}}}{{/blockHeader}}{{^blockHeader}}&nbsp;{{/blockHeader}}</div>
    </td>
</tr>
